body {
    background-image: url("../images/sky.jpg");
    background-size: cover ;
    height: 560px;
    background-position-y: -400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
  }
  .grid-item {
    
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: transparent;
    
  }

  img {
      width: 250px;
      height: 200px;
      border-radius: 50%;
      border: solid 6px greenyellow;
      background: transparent;
      
  }

  h1 {
      height: 60pxpx;
      color: yellow;
      background-color: skyblue;
      font-size: 3em;
      text-align: center;
      margin-top: 0px;
      padding-top: 0px;
      background: transparent;
      font-family: 'Space Mono', monospace;
  }

  h2 {
      margin-top: 20px;
      color: greenyellow;
      font-size: 2em;
      height: 60px;
      text-align: center;
      background: transparent;
      font-family: 'Space Mono', monospace;
  }


  
  #conTrail {
    float: left;
    width: 75%;
    height: 18px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    animation-name: streak;
    animation-duration: 3s;
    animation-delay: 1s;

  }

  #conTrail2 {
    float: right;
    width: 75%;
    height: 18px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    animation-name: streak2;
    animation-duration: 3s;
    animation-delay: 1s;

  }


  .fa-fighter-jet {
      font-size: 1.33em;
      color: silver;
      margin-left: -4px;
      
  }

  @-webkit-keyframes streak {
    0%  {width:0%;}
    100% {width: 75%;}
  }

  #attack {
      background-color: red;
      border: black;
      color: white;
      height: 50%;
      width: 50%;
      font-family: 'Space Mono', monospace;
      border: 4px solid maroon;
      margin-top:40px;
      
  }

