body {
    background-image: url("../images/sky.jpg");
    background-size: cover ;
    height: 560px;
    background-position-y: -400px;
}

.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 240px 180px 100px;
    padding: 10px;
    
  }
  .grid-item {
    
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: transparent;
    
  }

  img {
      width: 180px;
      height: 160px;
      border-radius: 50%;
      border: 4px solid blue;
      background: transparent;
      
  }

  img:hover {
      border: 4px solid red;
  }

  h1 {
      height: 60pxpx;
      color: white;
      background: transparent;
      font-size: 3em;
      text-align: center;
      margin-top: 0px;
      padding-top: 0px;
      font-weight: bolder;
      
      font-family: 'Space Mono', monospace;
  }

  h2 {
      margin-top: 20px;
      color: greenyellow;
      font-size: 2em;
      height: 60px;
      text-align: center;
      background: transparent;
      font-family: 'Space Mono', monospace;
  }

  #message {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1em;
    height: 16px;
    background-color: red;
    font-family: 'Space Mono', monospace;
    position: fixed;
    bottom: 0;
    align-content: center;
    border-top: 1px white solid;
    padding-bottom: 6px;
    animation-name: flashy;
    animation-duration: .25s;
    animation-delay: 4s;
    animation-iteration-count: 2;
}

 p {
    background-color: blue;
    border-left: solid white 2px;
    border-right: solid white 2px;
    color: white;
    font-size: .5em;
    font-family: 'Space Mono', monospace;
  }

  
  #conTrail {
    float: left;
    width: 66%;
    height: 18px;
    border-top: solid white 1px;
    background-color: red;
    border-bottom: solid white 1px;
    animation-name: streak2;
    animation-duration: 2s;
    animation-delay: 1s;

  }

  #conTrail2 {
    float: left;
    width: 75%;
    height: 18px;
    border-top: solid white 1px;
    background-color: blue;
    border-bottom: solid white 1px;
    animation-name: streak;
    animation-duration: 2s;
    animation-delay: 1s;

  }


  .fa-fighter-jet {
      font-size: 1.33em;
      color: white;
      margin-left: -4px;
      
  }

  @-webkit-keyframes streak {
    0%  {width:0%;}
    100% {width: 75%;}
  }

  @-webkit-keyframes streak2 {
    0%  {width:0%;}
    100% {width: 66%;}
  }

  @-webkit-keyframes flashy {
    0%   {opacity:1.0;}
    25%  {opacity:.5;}
    50%  {opacity:.25;}
    75%  {opacity:.5;}
    100% {opacity:1.0;}
   
  }

  #attack {
      background-color: red;
      border: black;
      color: white;
      height: 50%;
      width: 50%;
      font-family: 'Space Mono', monospace;
      border: 4px outset maroon;
      margin-top:40px;
      
  }

  #attack:active {
    opacity: .75;
  }

  
